<h3>Create TabAttr</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">AttrNo</label>
      <input type="text" class="form-control" id="attrNo" required [(ngModel)]="tabAttr.attrNo" name="attrNo">
    </div>

    <div class="form-group">
      <label for="name">AttrName</label>
      <input type="text" class="form-control" id="attrName" required [(ngModel)]="tabAttr.attrName" name="attrName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <button (click)="gotoList()" class="btn btn-secondary" style="margin-top: 10px">Return to TabAttr List</button>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newTabAttr()">Add</button> -->
</div>
