<h3>Update TabAttr</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">AttrNo</label>
          <td>{{tabAttr.attrNo}}</td>
    </div>
    
    <div class="form-group">
      <label for="name">AttrName</label>
      <input type="text" class="form-control" id="attrName" required [(ngModel)]="tabAttr.attrName" name="attrName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <button (click)="gotoList()" class="btn btn-secondary" style="margin-top: 10px">Return to TabAttr List</button>
</div>
