<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>TabGrComp List</h2>
      <button (click)="createTabGrComp()" class="btn btn-primary">Add TabGrComp</button>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>cmpId</th>
            <th>cmpName</th>
            <th>groupId</th>
            <th>cmpAddr</th>
            <th>zip</th>
            <th>areaCode</th>
            <th>cmpTel</th>
            <th>upDt</th>
            <th>userId</th>
            <th>jobClass</th>
            <th>email</th>
            <th>faxNum</th>
            <th>cmpNum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tabGrComp of tabGrComps">
            <td>{{tabGrComp.cmpId}}</td>
            <td>{{tabGrComp.cmpName}}</td>
            <td>{{tabGrComp.groupId}}</td>
            <td>{{tabGrComp.cmpAddr}}</td>
            <td>{{tabGrComp.zip}}</td>
            <td>{{tabGrComp.areaCode}}</td>
            <td>{{tabGrComp.cmpTel}}</td>
            <td>{{tabGrComp.upDt}}</td>
            <td>{{tabGrComp.userId}}</td>
            <td>{{tabGrComp.jobClass}}</td>
            <td>{{tabGrComp.email}}</td>
            <td>{{tabGrComp.faxNum}}</td>
            <td>{{tabGrComp.cmpNum}}</td>
            <td><button (click)="deleteTabGrComp(tabGrComp.cmpId)" class="btn btn-danger">Delete</button>
                <button (click)="updateTabGrComp(tabGrComp.cmpId)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  