<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>TabGrComp List</h2>
    <button mat-raised-button color="primary" (click)="createTabGrComp()">Add TabGrComp</button>
  </div>
   
  <mat-table [dataSource]="tabGrCompDataSource" matSort #sortTable="matSort" >
    <!-- displayed Columns -->
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let tabGrComp"> {{tabGrComp[column]}} </mat-cell>
    </ng-container>

    <!-- Management Column -->
    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <u>Management</u>
      </mat-header-cell>
      <mat-cell *matCellDef="let tabGrComp">
        <button mat-raised-button color="primary" (click)="updateTabGrComp(tabGrComp.cmpId)" style="margin: 10px">Update</button>
        <button mat-raised-button color="warn" (click)="deleteTabGrComp(tabGrComp.cmpId)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let tabGrComp; columns: columnsToDisplay;"></mat-row>
  </mat-table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator> -->
  <mat-paginator #paginator 
                [length]="totalCount" 
                [pageIndex]="0" 
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 15]">
  </mat-paginator>
  </div>
  
  