<h3>Create TabGrComp</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Company Id</mat-label>
          <input matInput type="number" id="cmpId" required [(ngModel)]="tabGrComp.cmpId" name="cmpId">
          <mat-error>Required field</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input matInput type="text" id="cmpName" [(ngModel)]="tabGrComp.cmpName" name="cmpName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Group Id</mat-label>
          <input matInput type="text" id="groupId" [(ngModel)]="tabGrComp.groupId" name="groupId">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Company Address</mat-label>
          <input matInput type="text" id="cmpAddr" [(ngModel)]="tabGrComp.cmpAddr" name="cmpAddr">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Zip</mat-label>
          <input matInput type="number" id="zip" [(ngModel)]="tabGrComp.zip" name="zip">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Area Code</mat-label>
          <input matInput type="text" id="areaCode" [(ngModel)]="tabGrComp.areaCode" name="areaCode">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Company Tel</mat-label>
          <input matInput type="tel" id="cmpTel" [(ngModel)]="tabGrComp.cmpTel" name="cmpTel">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Update Date</mat-label>
          <input matInput type="text" id="upDt" [(ngModel)]="tabGrComp.upDt" name="upDt">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>User Id</mat-label>
          <input matInput type="text" id="userId" [(ngModel)]="tabGrComp.userId" name="userId">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Job Class</mat-label>
          <input matInput type="text" id="jobClass" [(ngModel)]="tabGrComp.jobClass" name="jobClass">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" [(ngModel)]="tabGrComp.email" name="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fax Num</mat-label>
          <input matInput type="text" id="faxNum" [(ngModel)]="tabGrComp.faxNum" name="faxNum">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Company Num</mat-label>
          <input matInput type="text" id="cmpNum" [(ngModel)]="tabGrComp.cmpNum" name="cmpNum">
        </mat-form-field>
      </div> 
      <button mat-raised-button color="primary" type="submit" class="btn btn-success">Submit</button>
  </form>
  <button mat-raised-button color="basic" (click)="gotoList()" style="margin-top: 10px;margin-bottom: 10px">Return to TabAttr List</button>
</div>

