<h3>Update TabGrComp</h3>
<div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Company Id</mat-label>
        <input matInput type="number" [readonly]="true" id="cmpId" value={{tabGrComp.cmpId}} name="cmpId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput type="text" id="cmpName" value={{tabGrComp.cmpName}} name="cmpName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Group Id</mat-label>
        <input matInput type="text" id="groupId" value={{tabGrComp.groupId}} name="groupId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company Address</mat-label>
        <input matInput type="text" id="cmpAddr" value={{tabGrComp.cmpAddr}} name="cmpAddr">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Zip</mat-label>
        <input matInput type="number" id="zip" value={{tabGrComp.zip}} name="zip">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Area Code</mat-label>
        <input matInput type="text" id="areaCode" value={{tabGrComp.areaCode}} name="areaCode">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company Tel</mat-label>
        <input matInput type="tel" id="cmpTel" value={{tabGrComp.cmpTel}} name="cmpTel">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Update Date</mat-label>
        <input matInput type="text" id="upDt" value={{tabGrComp.upDt}} name="upDt">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>User Id</mat-label>
        <input matInput type="text" id="userId" value={{tabGrComp.userId}} name="userId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Job Class</mat-label>
        <input matInput type="text" id="jobClass" value={{tabGrComp.jobClass}} name="jobClass">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" value={{tabGrComp.email}} name="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fax Num</mat-label>
        <input matInput type="text" id="faxNum" value={{tabGrComp.faxNum}} name="faxNum">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company Num</mat-label>
        <input matInput type="text" id="cmpNum" value={{tabGrComp.cmpNum}} name="cmpNum">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" class="btn btn-success">Submit</button>
  </form>
  <button mat-raised-button color="basic" (click)="gotoList()" style="margin-top: 10px;margin-bottom: 10px">Return to TabGrComp List</button>
</div>
