<h3>Update TabGrComp</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Cmp Id</label>
          <td>{{tabGrComp.cmpId}}</td>
    </div>
    
    <div class="form-group">
        <label for="name">Cmp Name</label>
        <input type="text" class="form-control" id="cmpName" required [(ngModel)]="tabGrComp.cmpName" name="cmpName">
      </div>
  
      <div class="form-group">
        <label for="name">Group Id</label>
        <input type="text" class="form-control" id="groupId" required [(ngModel)]="tabGrComp.groupId" name="groupId">
      </div>
      
      <div class="form-group">
        <label for="name">Cmp Addr</label>
        <input type="text" class="form-control" id="cmpAddr" required [(ngModel)]="tabGrComp.cmpAddr" name="cmpAddr">
      </div>
      
      <div class="form-group">
        <label for="name">Zip</label>
        <input type="text" class="form-control" id="zip" required [(ngModel)]="tabGrComp.zip" name="zip">
      </div>
    
      <div class="form-group">
        <label for="name">Area Code</label>
        <input type="text" class="form-control" id="areaCode" required [(ngModel)]="tabGrComp.areaCode" name="areaCode">
      </div>
    
      <div class="form-group">
        <label for="name">Cmp Tel</label>
        <input type="text" class="form-control" id="cmpTel" required [(ngModel)]="tabGrComp.cmpTel" name="cmpTel">
      </div>
      
      <div class="form-group">
        <label for="name">Up Dt</label>
        <input type="text" class="form-control" id="upDt" required [(ngModel)]="tabGrComp.upDt" name="upDt">
      </div>
      
      <div class="form-group">
        <label for="name">User Id</label>
        <input type="text" class="form-control" id="userId" required [(ngModel)]="tabGrComp.userId" name="userId">
      </div>
      
      <div class="form-group">
        <label for="name">Job Class</label>
        <input type="text" class="form-control" id="jobClass" required [(ngModel)]="tabGrComp.jobClass" name="jobClass">
      </div>
    
      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="tabGrComp.email" name="email">
      </div>
    
      <div class="form-group">
        <label for="name">Fax Num</label>
        <input type="text" class="form-control" id="faxNum" required [(ngModel)]="tabGrComp.faxNum" name="faxNum">
      </div>
      
      <div class="form-group">
        <label for="name">Cmp Num</label>
        <input type="text" class="form-control" id="cmpNum" required [(ngModel)]="tabGrComp.cmpNum" name="cmpNum">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <button (click)="gotoList()" class="btn btn-secondary" style="margin-top: 10px">Return to TabGrComp List</button>
</div>
